<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

        <form method="post" action="{% url 'auth' %}" >
            {% csrf_token %}
            <input type="text" name="phone" placeholder="Enter phone number">
            <button type="submit" class="telegram">Connect to </button>
        </form>
        
</body>
</html>
